.about-us {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Position it behind the StartPage */
  opacity: 0; /* Hide it initially */
  transition: opacity 0.6s ease-in-out; /* Add a transition effect */
}

.about-us.show {
  opacity: 1; /* Show it when the StartPage is clicked */
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
  background-color: #04040c;
  color: #fff;
}

.about-container h2 {
  font-size: 24px;
  margin-bottom: 24px;
}

.about-avatar {
  width: 222px;
  height: 222px;
  border-radius: 63%;
  object-fit: cover;
  margin-bottom: 23px;
}

.about-bio {
  font-size: 1.3rem;
  line-height: 1.5;
  /* Add any additional styling specific to the bio */
}