.app-nav a, .app-nav select {
  margin-right: 20px;
  color: black; /* Choose the color you want for the text */
}

.app-nav {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}
  


.ascii-art {
    font-family: monospace;
    text-align: center;
    line-height: 1;
    margin-bottom: 10px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 100px; /* Adjust according to the height of your footer */
}

  .app-footer {
    position: relative; /* instead of fixed */
    width: 100%;
    background-color: #1c1b33;
    color: white;
    text-align: center;
    padding: 10px 0;
  }