.app-body {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(to bottom, rgba(13, 12, 34, 1) 0%, rgba(28, 27, 51, 1) 100%);
}

.app-body::before {
  content: "";
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2250%22%20height%3D%2250%22%20viewBox%3D%220%200%2050%2050%22%3E%3Cg%20stroke%3D%22none%22%3E%3Cg%20fill%3D%22%23ffffff%22%20fill-opacity%3D%220.4%22%3E%3Ccircle%20cx%3D%2225%22%20cy%3D%2225%22%20r%3D%222%22%3E%3C%2Fcircle%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E);
  background-size: 50px 50px;
  z-index: -1;
  animation: starrySky 2s linear infinite;
}

@keyframes starrySky {
  from { background-position: 0px 0px; }
  to { background-position: 500px 500px; }
}