.app-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-title {
  font-weight: bold;
}

.app-nav {
  position: absolute;
  left: 0;
}

.app-nav select {
  font-weight: bold;
}

.ascii-art {
    font-family: monospace;
    text-align: center;
    line-height: 1;
    margin-bottom: 10px;
}

.app-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1c1b33;
    color: white;
    text-align: center;
    padding: 10px 0;
  }